@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-image: url("../../assets/images/bg-app.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}