@use '../base/variables' as *;
@use '../base/mixins' as *;

.modal {
    display: flex;
    justify-content: center;

    &__search {
        width: 95%;
        max-height: 70%;
        background-color: #EB0033;
        color: #fff;
        position: fixed;
        top: 0;
        z-index: 2000;
        display: none;
        border-radius: 20px;
        margin: 10px;
        padding-bottom: 20px;
    }

    &__close {
        background: rgba(255, 255, 255, 0.466);
        border-radius: 95px;
        width: 40px;
        height: 40px;
        border: 0;
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input {
        padding-top: 25px;
        input {
            background: $white-color;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            max-width: 400px;
            margin-left: 20px;
        }
    }

    &__results {
        margin-top: 20px;
        margin-left: 50px;
        line-height: 30px;
        @include semibold-text(20px);
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 992px) { 
    .modal__search {
        width: 40%;
        margin: 54px auto;
    }
}

