@use '../base/variables' as *;

.navbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $red-color;
    width: 320px;
    height: 66px;
    border-radius: 99px;
    -webkit-box-shadow: 0px 3px 21px -1px rgba(242, 72, 72, 0.35);
    -moz-box-shadow: 0px 3px 21px -1px rgba(242, 72, 72, 0.35);
    box-shadow: 0px 3px 21px -1px rgba(242, 72, 72, 0.35);
}

.navbar__list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 21px auto;
}

.navbar__svg {
    width: 25px;
    height: 25px;
}
