# Log files and cache
*.log
.cache/

# Dependency directories
node_modules/

# dotenv environment variable files
.env

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

## Compiled CSS
dist/

# Editor configuration files
.vscode/

