@use '../base/variables' as *;
@use '../base/mixins' as *;

.mainEntradas {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

    &__titulo {
        color: $red-color;
        text-align: center;
        text-transform: uppercase;
        @include bold-text(30px);
        padding-top: 75px;
    }

    &__contenedor {
        display: block;
        margin-bottom: 180px;
    }

    &__empty {
        text-align: center;
        color: $white-color;
        padding: 20px 20px;
        @include semibold-text(20px);
        margin-bottom: 600px;
    }

    &__content {
        background-image: url(../../assets/images/ticket.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 500px;
        margin: 40px auto;
        border-radius: 15px;
        color: $white-color;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @include image-hover-zoom(1.02, 0.3s);
    }

    &__pelicula {
        text-align: center;
        color: $red-color;
        padding: 15px;
        @include bold-text(27px);
    }


    &__imagen {
        width: 30%;
        border-radius: 15px;
    }

    &__hora,
    &__fecha,
    &__sala,
    &__asientos,
    &__precio {
        text-align: center;
        padding: 8px;
        @include semibold-text(22px);
        max-width: 230px
    }

    &__precio {
        @include regular-text(18px);
    }

    &__recordatorio {
        text-align: left;
        position: absolute;
        bottom: 74px;
        left: 60px;
        width: 62%;
        color: $grey-color;
        @include semibold-text(9px);
        font-style: italic;
    }
}

@media only screen and (min-width: 768px) {
    .mainEntradas__contenedor {
        display: flex;
        margin-bottom: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

}