@use '../base/variables' as *;
@use '../base/mixins' as *;

//Banner
.homeBanner {
    width: 100%;
    height: 350px;
    background-image: url(../../assets/images/pexels-tima-miroshnichenko-7991579.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__logo {
        position: absolute;
        top: 60px;
        left: 135px;
        width: 115px;
        height: 40px;
    }
}

//Main section
.homeMain {
    width: 82%;
    margin: 0 auto;
    padding: 25px 0;

    &__titulo {
        @include medium-text(24px);
        color: $red-color;
        font-style: italic;
        text-align: center;
        padding-bottom: 10px;
    }

    &__parrafo {
        text-align: center;
        color: $white-color;
        @include regular-text(14px);
        margin-bottom: 20px;

        &--semibold {
            text-align: center;
            color: $white-color;
            @include semibold-text(16px);
            margin-bottom: 20px;
        }
    }
}

//Carousel
.carousel {
    &__titulo {
        @include semibold-text(20px);
        text-transform: uppercase;
        color: $red-color;
        margin-left: 30px;
        margin-bottom: 15px;
    }
}

.swiper {
    min-width: 300px;
    min-height: 200px;
    width: 100%;
    margin: 0 10px;

    &-slide {
        position: relative;

        &__titulo {
            color: $white-color;
            position: absolute;
            bottom: 15px;
            left: 16px;
            @include semibold-text(16px);
        }
    }
    &-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        background: $white-color !important;
        opacity: 30% !important;

        &-active {
            background: $red-color !important;
            opacity: 100% !important;
        }
    }
}

//Mas visto section
.masVisto {
    color: $white-color;
    margin: 45px 30px 35px 30px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 15px;
    }

    &__titulo {
        color: $red-color;
        @include bold-text(20px);
        padding-bottom: 5px;
    }

    &__parrafo {
        @include semibold-text(15px);
        margin-bottom: 20px;
    }

    &__pelicula {
        width: 149px;
        height: 226px;
        border-radius: 16px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &--1 {
            background-image: url(../../assets/images/pelis/dune-2-ceo-bng.webp);
        }

        &--2 {
            background-image: url(../../assets/images/pelis/alien_romulus_ver2.webp);
        }

        &--3 {
            background-image: url(../../assets/images/pelis/robot.webp);
        }

        &--4 {
            background-image: url(../../assets/images/pelis/speak.webp);
        }

        &-datos {
            text-align: center;
            width: 149px;
            height: 55px;
            background-color: $grey-color;
            border-radius: 0 0 16px 16px;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-titulo {
                @include semibold-text(16px);
            }

            &-genero {
                @include light-text(14px);
                padding-bottom: 3px;
            }
        }
    }
}

//Proximos estrenos section
.proximamente {
    margin: 50px 30px 60px 30px;

    &__titulo {
        @include bold-text(20px);
        color: $red-color;
        padding-bottom: 5px;
    }
    &__parrafo {
        @include semibold-text(15px);
        color: $white-color;
        margin-bottom: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 15px;
    }

    &__elemento {
        width: 149px;
        height: 226px;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &--blancanieves {
            background-image: url(../../assets/images/proximamente/blancanieves.webp);
        }

        &--gladiator {
            background-image: url(../../assets/images/proximamente/gladiator.webp);
        }

        &--wicked {
            background-image: url(../../assets/images/proximamente/wicked.webp);
        }

        &--winnie {
            background-image: url(../../assets/images/proximamente/winnie.webp);
        }
    }
}

//Footer
.hrFooter {
    border-color: $red-color;
    opacity: 50%;
    width: 75%;
}

.footer {
    width: 100%;
    text-align: center;

    &__item {
        margin: 0 auto;
        @include regular-text(14px);
        padding: 4px 0px;

        &--logo {
            width: 166px;
            height: 53px;
            margin-bottom: 10px;
        }
    }

    &__social-list {
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-bottom: 130px;
        padding-top: 20px;
        
    }

    &__social-item {
        img {
            width: 30px;
            height: 30px;
        }
    }
}


