@use '../base/variables' as *;
@use '../base/mixins' as *;

//Banner
.homeBanner {
    width: 100%;
    height: 350px;
    background-image: url(../../assets/images/pexels-tima-miroshnichenko-7991579.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__logo {
        position: absolute;
        top: 60px;
        left: 135px;
        width: 115px;
        height: 40px;
    }
}

//Main section
.homeMain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    &__titulo {
        @include medium-text(24px);
        color: $red-color;
        font-style: italic;
        text-align: center;
        padding-bottom: 10px;
    }

    &__parrafo {
        text-align: center;
        color: $white-color;
        @include regular-text(14px);
        margin-bottom: 20px;

        &--semibold {
            text-align: center;
            color: $white-color;
            @include semibold-text(16px);
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
}

//Carousel
.carousel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    &__titulo {
        @include semibold-text(20px);
        text-transform: uppercase;
        color: $red-color;
        margin-left: 30px;
        margin-bottom: 15px;
    }
}

.swiper {
    width: 100%;
    border-radius: 15px;

    &-slide {
        position: relative;
        max-height: 650px;
        display: flex !important;
        justify-content: center !important;
        align-items: baseline !important;

        img {
            width: 100%;
        }

        &__titulo {
            color: $white-color;
            position: absolute;
            bottom: 15px;
            left: 30px;
            @include semibold-text(16px);
        }
    }
    &-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        background: $white-color !important;
        opacity: 30% !important;

        &-active {
            background: $red-color !important;
            opacity: 100% !important;
        }
    }

    &-button-prev {
        display: none !important;
    }

    &-button-next {
        display: none !important;
    }
}

//Mas visto section
.masVisto {
    color: $white-color;
    margin: 40px 10px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 25px;
        padding: 0px 10px;
    }

    &__titulo {
        color: $red-color;
        @include bold-text(20px);
        padding-bottom: 5px;
        padding-left: 5px
    }

    &__parrafo {
        @include semibold-text(15px);
        margin-bottom: 20px;
        padding-left: 5px
    }

    &__pelicula {
        width: 165px;
        height: 278px;
        border-radius: 16px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &--1 {
            background-image: url(../../assets/images/pelis/dune-2-ceo-bng.webp);
            @include image-hover-zoom(1.02, 0.3s);
        }

        &--2 {
            background-image: url(../../assets/images/pelis/alien_romulus_ver2.webp);
            @include image-hover-zoom(1.02, 0.3s);
        }

        &--3 {
            background-image: url(../../assets/images/pelis/robot.webp);
            @include image-hover-zoom(1.02, 0.3s);
        }

        &--4 {
            background-image: url(../../assets/images/pelis/speak.webp);
            @include image-hover-zoom(1.02, 0.3s);
        }

        &-datos {
            text-align: center;
            width: 165px;
            height: 55px;
            background-color: #38354B;
            border-radius: 0 0 16px 16px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-titulo {
                @include semibold-text(16px);
            }

            &-genero {
                @include light-text(14px);
                padding-bottom: 3px;
            }
        }
    }
}

//Proximos estrenos section
.proximamente {
    margin: 40px 10px;

    &__titulo {
        @include bold-text(20px);
        color: $red-color;
        padding-bottom: 5px;
    }
    &__parrafo {
        @include semibold-text(15px);
        color: $white-color;
        margin-bottom: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        grid-gap: 25px;
        padding: 0px 10px;
    }

    &__elemento {
        width: 165px;
        height: 278px;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include image-hover-zoom(1.02, 0.3s);

        &--blancanieves {
            background-image: url(../../assets/images/proximamente/blancanieves.webp);
        }

        &--gladiator {
            background-image: url(../../assets/images/proximamente/gladiator.webp);
        }

        &--wicked {
            background-image: url(../../assets/images/proximamente/wicked.webp);
        }

        &--winnie {
            background-image: url(../../assets/images/proximamente/winnie.webp);
        }
    }
}

@media only screen and (min-width: 768px) {

    .masVisto {
        &__pelicula {
            width: 175px;


            &-datos {
                width: 175px;
            }
        }
    }

    .proximamente {
        &__elemento {
            width: 175px;
        }
    }
    .homeMain {
        &__titulo {
            font-size: 26px;
        }

        &__parrafo {
            font-size: 18px;
        }

        &__parrafo--semibold {
            font-size: 19px;
        }
    }
    .masVisto, 
    .proximamente {

        &__titulo {
            @include bold-text(24px);
        }
        &__parrafo {
            @include semibold-text(18px);
        }
    }

    .carousel {
        &__titulo {
            font-size: 24px;
        }
    }

    .swiper {
        &-slide__titulo {
        font-size: 24px;
        }

        &-button-prev {
            display: block !important;
            color: $light-grey-color !important;
        }
    
        &-button-next {
            display: block !important;
            color: $light-grey-color !important;
        }
    }
}

@media only screen and (min-width: 992px) {
    .masVisto, 
    .proximamente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;

        &__grid {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 40px;
        }

        &__titulo,
        &__parrafo {
            margin-left: 10px;
        }
    }
}


@media only screen and (min-width: 1200px) {

    .masVisto {
        &__pelicula {
            width: 230px;
            height: 355px;

            &-datos {
                width: 230px;
                height: 65px;
            }
        }
    }

    .proximamente {
        &__elemento {
            width: 230px;
            height: 355px;
        }
    }
}