@use '../base/variables' as *;

.homeBanner {
    width: 100%;
    height: 100%;
    
    &__imagen {
      height: 230px;
      opacity: 80%;
    }

    &__logo {
        position: absolute;
        top: 60px;
        left: 135px;
        width: 115px;
        height: 40px;
    }
}

.homeMain {
    width: 82%;
    margin: 0 auto;

    &__titulo {
        font-weight: 500;
        font-size: 20px;
        color: $red-color;
        font-style: italic;
        text-align: center;
        padding: 10px 0;
    }

    &__parrafo {
        text-align: center;
        color: $white-color;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 20px;

        &--semibold {
            text-align: center;
            color: $white-color;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

.carousel {
    &__titulo {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: $red-color;
        margin-left: 30px;
        margin-bottom: 15px;
    }
}

.swiper {
    min-width: 300px;
    min-height: 200px;
    width: 100%;
    margin: 0 10px;
}

.swiper-slide {
    position: relative;

    &__titulo {
        color: $white-color;
        position: absolute;
        bottom: 15px;
        left: 16px;
        font-weight: 600;
        font-size: 16px;
    }
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: $white-color !important;
    opacity: 30% !important;
}
.swiper-pagination-bullet-active {
    background: $red-color !important;
    opacity: 100% !important;
}