@use '../base/variables' as *;
@use '../base/mixins' as *;

.compra {
    color: $white-color;
    max-width: 306px;
    margin: 0 auto;

    &__icono {
        position: absolute;
        left: 30px;
        padding-top: 35px;
        background: none;
        border: none;
        
        svg {
            fill: $red-color;
            cursor: pointer;
        }
    }

    &__titulo {
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        padding-top: 80px;
        margin-bottom: 20px;
        font-weight: 700;
    }

    &__subtitulo {
        font-size: 16px;
        color: $red-color;
        text-align: center;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__parrafo {
        font-size: 16px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__formulario-titulo {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0;
    }

    &__formulario-div {
        display: flex;
        flex-direction: column;

        label {
            padding: 10px 0;
            font-size: 18px;
            font-weight: 400;
        }

        input {
            background: none;
            border: 0;
            border-bottom: 1px solid $red-color;
            color: $light-grey-color;
            

            &:focus {
                outline: none;
            }
        }
    }

    &__resumen, 
    &__total {
        display: block;
    }

    &__resumen {
        margin-top: 30px;

        &-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__gestion {
        font-size: 11px;
        color: $light-grey-color;
    }

    &__terminos {
        max-width: 280px;

        label {
            font-size: 11px;
            font-weight: 400;
        }
        
    }

    &__boton {
        width: 130px;
        height: 50px;

        &-div {
            display: flex;
            justify-content: center;
            padding: 50px 0 60px 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .compra {
        max-width: 600px;

        &__icono {
            padding-top: 50px;
        }

        &__terminos {
            max-width: 500px;
    
            label {
                @include regular-text(11px);
            }
            
        }

        &__subtitulo {
            font-size: 20px;
        }

        &__parrafo {
            font-size: 18px;
        }

        &__terminos label {
            font-size: 14px;
        }

        &__formulario-div input {
            font-size: 18px;
        }

        &__formulario-div label {
            font-size: 20px;
        }

        &__resumen-div {
            font-size: 22px;
        }

    }

}
