@use '../base/variables' as *;
@use '../base/mixins' as *;

.sesiones {
    color: $white-color;

    &__icono {
        position: absolute;
        left: 30px;
        padding-top: 50px;
        background: none;
        border: none;
        
        svg {
            fill: $red-color;
            cursor: pointer;
        }
    }

    &__titulo {
        @include semibold-text(26px);
        text-transform: uppercase;
        color: $red-color;
        padding-top: 50px;
        text-align: center;
    }

    &__dia-list {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
        padding: 60px 10px 15px 10px;
    }

    &__dia-text {
        @include semibold-text(20px)
    }


    &__dia-item {
        background: none;
        border: none;
        color: $white-color;
        @include bold-text(22px);
    }
  
    &__horarios-dia {
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin-top: 5px;
    }

    &__horario-item {
        border: 0;
        color: $light-grey-color;
        padding: 8px 10px;
        border-radius: 5%;
        background: $red-color;
        cursor: pointer;
        @include regular-text(18px)
    }

    &__pantalla {
        margin: 0 auto;
    }

    &__asientos {
        display: grid;
        grid-template-columns: repeat(10, 1fr); 
        gap: 10px;
        justify-content: center;
        margin: 20px auto;
        width: fit-content;
        margin-top: 30px;
        padding-bottom: 10px;
    }

    &__boton {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    &__boton-siguiente {
        width: 150px;
        height: 50px;
    }
}

.asiento {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red-color;

    &-libre {
        background-image: url('../../assets/icons/butaca.svg');
        filter: brightness(1); /* Blanco */
    }

    &-seleccionado {
        background-image: url('../../assets/icons/butaca.svg');
        filter: brightness(0.5); /* Gris */
    }

    &-ocupado {
        background-image: url('../../assets/icons/butaca.svg');
        filter: hue-rotate(180deg) brightness(0.6); /* Rojo */
        cursor: not-allowed;
    }
}

@media only screen and (min-width: 768px) {

    .asiento {
        width: 35px;
        height: 35px;
    }

    .sesiones {
        &__icono,
        &__titulo {
            padding-top: 80px;
        }
    }
}

@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {



}


